@use '~@/styles/tokens/dimensions';

@use '~@/styles/mixins/control';

.color-picker {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: dimensions.$xs;

  .swatch {
    @include control.control;

    background-color: var(--swatch-color);

    height: dimensions.$icon;
    width: dimensions.$icon;

    border-radius: dimensions.$inf;

    &.is-selected {
      border: 2px solid white;
    }
  }
}
