@use '~@/styles/tokens/colors';

.serene-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .heading {
    color: colors.$foreground-light;

    font-weight: bold;
  }

  .subheading {
    color: colors.$foreground-dark;
  }
}
