@use 'sass:color';

@use '~@/styles/tokens/colors';
@use '~@/styles/tokens/dimensions';
@use '~@/styles/tokens/durations';
@use '~@/styles/tokens/sizes';

@use '~@/styles/mixins/cell';
@use '~@/styles/mixins/control';

.serene-card {
  @include cell.cell;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: colors.$background-light;

  .content {
    @include control.control;
  }

  .handle,
  .buttons {
    padding: dimensions.$m;

    flex-shrink: 0;
  }

  .content,
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: dimensions.$m;
  }

  .handle {
    color: colors.$foreground-dark;

    cursor: var(--handle-cursor, grab);
  }

  .content {
    flex-grow: 1;
    flex-shrink: 1;

    padding-top: dimensions.$m;
    padding-bottom: dimensions.$m;

    cursor: pointer;
  }

  .buttons {
    .trash {
      #{--serene-button-color-focus}: colors.$danger;
    }
  }

  &.is-disabled {
    @include cell.cell-disabled;

    background-color: color.adjust(colors.$background-light, $alpha: -0.7);

    .content {
      opacity: 0.3;

      text-decoration: line-through;
    }
  }

  &:not(.is-disabled) {
    &:hover,
    &:focus-within {
      @include cell.cell-active;
    }
  }
}
