$background-darker:  #171717;
$background-canvas:  #1f1f1f; // Baseline, used in HTML
$background-lighter: #282828;

$foreground-darker:  #808080;
$foreground-canvas:  #e2e2e2; // Baseline, used in HTML
$foreground-lighter: #ffffff;

// Colors for labels

$label-red:          #db4035;
$label-berry:        #b8255f;
$label-green:        #289438;
$label-teal:         #158fad;
$label-sky:          #14aaf5;
$label-grape:        #884dff;
$label-violet:       #af38eb;
$label-lavender:     #ea96eb;
$label-salmon:       #ff8d85;
