$background-dark:    #171717;
$background-canvas:  #1f1f1f; // Baseline, used in HTML
$background-light:   #282828;
$background-lighter: #4d4d4d;

$foreground-dark:    #808080;
$foreground-canvas:  #e2e2e2; // Baseline, used in HTML
$foreground-light:   #ffffff;

// Colors for labels

$label-grape:        #884dff;
$label-violet:       #af38eb;
$label-sky:          #14aaf5;
$label-green:        #289438;
$label-salmon:       #ff8d85;
$label-orange:       #ff9933;
$label-berry:        #e05194;
$label-red:          #db4035;

// Contextual colors

$danger:             #ff7f74;
