@use '~@/styles/tokens/colors';
@use '~@/styles/tokens/durations';

.task-checkbox {
  position: relative;

  .check {
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    color: var(--checkbox-color, inherit);

    transition-property: opacity;
    transition-duration: durations.$m;
  }

  .box {
    color: var(--checkbox-color, #{colors.$foreground-dark});

    transition-property: color;
    transition-duration: durations.$m;
  }

  &.is-focused,
  &:focus {
    .check {
      opacity: 0.3; // Same as apparent opacity when checked
    }
  }

  &.is-checked {
    .check {
      opacity: 1; // Multiplied by opacity of checked TaskUnit
    }

    .box {
      color: var(--checkbox-color, inherit);
    }
  }
}
