@use '~@/styles/tokens/colors';

:export {
  labelGrape:    colors.$label-grape;
  labelViolet:   colors.$label-violet;
  labelSky:      colors.$label-sky;
  labelGreen:    colors.$label-green;
  labelSalmon:   colors.$label-salmon;
  labelOrange:   colors.$label-orange;
  labelBerry:    colors.$label-berry;
  labelRed:      colors.$label-red;
}
