@use 'sass:color';

@use '~@/styles/tokens/colors';
@use '~@/styles/tokens/dimensions';
@use '~@/styles/tokens/durations';

@use '~@/styles/mixins/cell';
@use '~@/styles/mixins/control';

$placeholder-color-blur:  #747474; // ~ color.adjust(white, $alpha: -0.6);
$placeholder-color-focus: #a2a2a2; // ~ color.adjust(white, $alpha: -0.4);

.serene-input {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  .field {
    @include control.control;
    @include cell.cell(false);

    line-height: 1.5;

    background-color: colors.$background-dark;
    caret-color: currentColor;

    box-sizing: border-box;
    width: 100%;

    padding: dimensions.$m dimensions.$m dimensions.$m (2*dimensions.$m + dimensions.$icon);

    &::placeholder,
    & ~ .label {
      color: $placeholder-color-blur;

      transition-property: color;
      transition-duration: durations.$m;
    }

    &::placeholder {
      opacity: 1; // Firefox has a lower opacity in placeholders
    }

    & ~ .label {
      position: absolute;
      left: dimensions.$m;

      pointer-events: none;
    }

    &:focus {
      @include cell.cell-active;

      &::placeholder,
      & ~ .label {
        color: $placeholder-color-blur;
      }
    }
  }

  .enter {
    opacity: 0;

    position: absolute;
    right: dimensions.$m;

    color: colors.$foreground-dark;

    transition-property: opacity;
    transition-duration: durations.$m;
  }

  &.is-filled {
    .field ~ .label {
      color: inherit;
    }

    .enter {
      opacity: 1;
    }
  }
}
