@use '~@/styles/tokens/durations';

@mixin fade() {
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-to,
  .fade-leave {
    opacity: 1;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition-property: opacity;
    transition-duration: durations.$m;
  }
}

@mixin slide($name, $leave, $mid, $enter) {
  .slide-#{$name}-enter {
    opacity: 0;

    transform: translateX($enter);
  }

  .slide-#{$name}-enter-to,
  .slide-#{$name}-leave {
    opacity: 1;

    transform: translateX($mid);
  }

  .slide-#{$name}-leave-to {
    opacity: 0;

    transform: translateX($leave);
  }

  .slide-#{$name}-enter-active,
  .slide-#{$name}-leave-active {
    transition-property: opacity, transform;
    transition-duration: durations.$m;
  }
}

@mixin flip($name, $leave, $mid, $enter) {
  .flip-#{$name}-enter {
    transform: rotateX($enter);
  }

  .flip-#{$name}-enter-to,
  .flip-#{$name}-leave {
    transform: rotateX($mid);
  }

  .flip-#{$name}-leave-to {
    transform: rotateX($leave);
  }

  .flip-#{$name}-enter-active,
  .flip-#{$name}-leave-active {
    transition-property: transform;
    transition-duration: durations.$m;
  }
}
